<div class="jumbotron">
   <h1 class="title">大忙人管家</h1>
   <p class="slogan">
   <br>
   大忙人最贴心的管家都在这里

   </p>
   <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">立即寻找管家</a></p>
 </div>


 <section id="company">
   <!-- // 另外一个推荐的展示形式 -->
   <div class="container content">
       <div class="row">
           <div class="col-md-6 col-md-offset-3">
               <div class="testimonials">
                 <div class="active item">
                     <blockquote><p>
                       我的管家，就是在这里找到的。
                       平时新生大学、比特币投资、英语教育等项目需要暂用日常大量的时间精力，
                       家里的一些杂事，比如收拾房间，换灯泡，修理电器的一些小问题，我的管家都能全帮我处理好，
                       省了很多事。
                     </p></blockquote>
                     <div class="carousel-info">
                       <img alt="" src="https://ww1.sinaimg.cn/large/006tNc79gy1fc7tejulxzj302o02oweb.jpg" class="pull-left">
                       <div class="pull-left">
                         <span class="testimonials-name">李笑来</span>
                         <span class="testimonials-post">新生大学创始人/天使投资人</span>
                       </div>
                     </div>
                   </div>
               </div>
           </div>
       </div>
   </div>

   <div class="container content">
       <div class="row">
           <div class="col-md-6 col-md-offset-3">
               <div class="testimonials">
                 <div class="active item">
                     <blockquote><p>
                       通过笑来老师的介绍，在这里我找到了自己贴心的管家。
                       以前家里的一些杂事，比如厨房电器出了问题，练习我自己的管家，他总是10分钟内就能赶到，
                       并且很快帮我解决问题。拥有管家的生活，让我更专注于工作。
                     </p></blockquote>
                     <div class="carousel-info">
                       <img alt="" src="https://ww4.sinaimg.cn/large/006tNc79gy1fc7ten3gj0j302o02o3yc.jpg" class="pull-left">
                       <div class="pull-left">
                         <span class="testimonials-name">Xdite</span>
                         <span class="testimonials-post">知名 Rails 教练/世界黑客松首奖得主</span>
                       </div>
                     </div>
                   </div>
               </div>
           </div>
       </div>
   </div>

   <div class="row">
       <!-- <div class="col-md-6 col-md-offset-3">
           <div class="testimonials">
             <div class="active item">
          <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fbztzen2c5j303k03ka9w.jpg" alt="search" class = "img-thhumbnail">
          <div class="caption">
            <h3>北京朝阳建外SOHO</h3>
          </div>
        </div>
      </div> -->
      <!-- <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww3.sinaimg.cn/large/006tKfTcgy1fbzu4wjrayj303k03k3yd.jpg" alt="bid" class = "img-thhumbnail">
          <div class="caption">
            <h3>info@18koffer.com</h3>
          </div>
        </div>
      </div> -->
      <!-- <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww3.sinaimg.cn/large/006tKfTcgy1fbzu4wjrayj303k03k3yd.jpg" alt="heart" class = "img-thhumbnail">
          <div class="caption">
            <h3>010-12344321</h3>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>
