<!-- <footer class="container" styl= "margin-top: 100px;">
  <p class= "text-center"> Copyright ©2017 Rails101
    <br>Design by
    <a href="http://niking-blog.logdown.com" target=_new>King's</a>
  </p>
</footer> -->

<footer class="navbar navbar-default" role="navigation">
  <p class= "text-center"> Copyright ©2017 Rails101
    <br>Design by King's
  </p>
</footer>
